<head>
  <!-- icons -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<div class="home-page">
  <form (ngSubmit)="onSearch()">
    <div class="search-container">
      <input id="search-input" type="text" [(ngModel)]="searchInput" placeholder="Search.." name="search">
      <button type="submit">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </form>

  <ng-container
    *ngIf="searchResults.length > 0; then withResults; else noResults">
  </ng-container>

  <ng-template #withResults>
    <li *ngFor="let item of searchResults">{{ item }}</li>
  </ng-template>

  <ng-template #noResults>
    <div *ngIf="searchInput.length > 0 && searchResults.length == 0">
      No results were found for {{searchInput}}.
    </div>
  </ng-template>

  <p>home works!</p>

</div>
