<div class="form-page">
  <br>
  <div>
    <form (ngSubmit)="onSubmit()">
      <div class="title-input-container">
        <p class="title-input-label">Title</p>
        <span></span>
        <input id="title-input" type="text" [(ngModel)]="title" name="title">
      </div>
      <div class="desciption-input-container">
        <p class="desciption-input-label">Description</p>
        <span class="span-description"></span>
        <input id="description-input" type="text" [(ngModel)]="description" name="description">
      </div>
      <div class="price-input-container">
        <p class="price-input-label">Price</p>
        <span></span>
        <input id="price-input" type="text" [(ngModel)]="price" name="price">
        <div class="" id="radio-price-status">
          <input type="radio" id="fixed-radio" name="fixed" value="fixed" [(ngModel)]="status">
          <label for="fixed-radio">Fixed</label>
          <input type="radio" id="nego-radio" name="nego" value="nego" [(ngModel)]="status">
          <label for="nego-radio">Negotiable</label>
        </div>
      </div>
      <div class="price-input-container">
        <p class="picture-input-label">Pictures</p>
        <span class="span-pictures"></span>
        <div class="picture-input-area" id="picture-container">
          <div *ngFor="let img of selectedPicture">
            <p>{{img.name}}</p>
          </div>
          <!--img *ngIf="selectedPicture" [src]="selectedPicture" [style.width.px]="width" [style.height.px]="height"-->
        </div>
      </div>
      <br>
      <form action="#">
        <input type="file" accept="image/*" (change)="selectPicture($event)">
      </form>
      <br>
      <button type="submit">Save</button>
    </form>
  </div>
</div>
