div {text-align: center}

.form-page {
  position: fixed;
  width: 50px;
  height: 100%;
  min-width: 100%;
  overflow-x: hidden;
  background-color: #A6BB8D;
}

.title-input-container {
  display: flex;
  justify-content: center;
}

.title-input-label {
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  color: whitesmoke;
}

.title-input-textarea {
  border: solid #61876E 1px;
  height: 30px;
  width: 300px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  background: #EAE7B1;
}

.desciption-input-container {
  display: flex;
  justify-content: center;
}

.desciption-input-label {
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  color: whitesmoke;
}

.desciption-input-textarea {
  border: solid #61876E 1px;
  height: 130px;
  width: 300px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  background: #EAE7B1;
}

.price-input-container {
  display: flex;
  justify-content: center;
}

.price-input-label {
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  color: whitesmoke;
}

.price-input-textarea {
  border: solid #61876E 1px;
  height: 30px;
  width: 100px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  background: #EAE7B1;
}

.price-input-dropdown {
  position: relative;
  display: inline-block;
}

.price-input-dropdown-toggle {
  background-color: lightgray;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.price-input-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  list-style: none;
  background-color: lightgray;
  padding: 10px 0;
  margin: 0;
  border: 1px solid gray;
}

.price-input-dropdown-menu li {
  padding: 10px 15px;
}

.price-input-dropdown-menu a {
  display: block;
}
