


<a>
  <div class="card " style="width: 18rem;">
<!--    <div class="like-btn ">-->
<!--       <button class="btn btn-primary float-end">-->
<!--          like-->
<!--       </button>-->
<!--    </div>-->
    <img class="card-img-top" src="..." alt="Product image ">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text text-white">{{product.price}} $</p>
      <a href="#" class="btn btn-success" routerLink="/product/{{product.id}}">More</a>
    </div>
  </div>
</a>

